<div class="container">
    <!-- Navigation Bar -->
    <nav class="navbar">
      <div class="logo">Mera Blog</div>
      
      <div class="blog-btn">
          <button class="login-btn" (click)="dashboard()">Dashboard</button>
          <!-- <button class="login-btn">Cerate Blog</button> -->
          <button class="login-btn" (click)="logout()">Log Out</button>
      </div>
    </nav>

    <div class="Blog-Content">
      <app-blog-body></app-blog-body>
    </div>

    <!-- Footer -->
    <footer>
      <p>Contact Us: supportmyblog.com</p>
    </footer>
  </div>